[submodule "depends/stb"]
	path = depends/stb
	url = https://github.com/nothings/stb.git
[submodule "depends/cglm"]
	path = depends/cglm
	url = https://github.com/recp/cglm
[submodule "depends/log.c"]
	path = depends/log.c
	url = https://github.com/rxi/log.c.git
[submodule "depends/flecs"]
	path = depends/flecs
	url = https://github.com/SanderMertens/flecs.git
