# Deccan Engine

# Executables
*.exe
test
demo

# Build files
*.o
*.ninja
.ninja_log
.ninja_deps
**/meson-logs/*.txt
**/meson-dist/
**/compile_commands.json
builddir/
build/

# Resources
*.png
*.ttf
*.log
*.txt
*.dll
*.so
*.a

# Lite text editor
.lite_*.lua
